#gameContainer {
    text-align: center;
}

#gameCanvas
{
    /* the canvas styling usually does not change */
    outline:1px solid darkgrey;
    width:300px;
    height:500px;
    display: inline;
}

#loadingMessage
{
    /* the loading message styling usually does not change */
    position:absolute;
    top:100px;
    left:100px;
    z-index:100;
    font-size:50px;
}
